@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #111111;
  --color-primary: #7c41f5;
  --color-secondary: #ec4899;
  --color-accent: #f472b6;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius: 0.5rem;

  --card-bg: #ffffff;
  --card-border: #7c41f5;

  --meeting-border: #e5e7eb;

  --active-drag: oklch(97% 0.014 254.604);
}


.dark {
  --background: #111111;
  --foreground: #f4f4f5;
  --color-primary: #7c41f5;
  --color-secondary: #f472b6;
  --color-accent: #fb7185;

  --card-bg: #1a1a1a;
  --card-border: #7c41f5;

  --meeting-border: #364153;

  --active-drag: color-mix(in oklab, var(--color-blue-950) 40%, transparent);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --radius: var(--radius);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  transition: background-color 0.3s, color 0.3s;
}
